
<div id="map-canvas">
    <div class="new-activity-resource">
    {{#if data}}
        <form v-on:keydown="keyMonitor" accept-charset="UTF-8" id="msform" action="?_method=PUT" method="POST">
    {{else}}
        <form v-on:keydown="keyMonitor" accept-charset="UTF-8" id="msform" method="POST">
    {{/if}}
        <!-- progressbar -->
        <ul id="progressbar">
            {{#if data}}
                <li class="active">edit Activity</li>
            {{else}}
                <li class="active">new Activity</li>
            {{/if}}
            <li>Activity Profile</li>
            <li>Activity Details</li>
        </ul>
        <!-- fieldsets -->
        <div class="new-activity">
            {{#if data}}
                <h2 class="div-title">Edit activity</h2>
            {{else}}
                <h2 class="div-title">Create new activity</h2>
            {{/if}}
            <fieldset>
                <h4 class="fs-subtitle">Describe</h4>
                <input type="text" name="event_name" placeholder="Title" value="{{data.event_name}}" required>
                <textarea name="description" placeholder="Description">{{data.description}}</textarea>
                <input type="button" name="next" class="next action-button" value="Next" v-on:click="next('{{data.location}}')" />
            </fieldset>
        </div>
        <div class="new-activity" style="display: none">
            {{#if data}}
                <h2 class="div-title">Edit activity</h2>
            {{else}}
                <h2 class="div-title">Create new activity</h2>
            {{/if}}
            <fieldset>
                <h2 class="fs-title">Activity Profile</h2>
                <h4 class="fs-subtitle">When & Where?</h4>
                {{#if data}}
                    <place-input value="{{data.location}}" placeholder="{{data.location}}" required></place-input>
                {{else}}
                    <place-input></place-input>
                {{/if}}
                <datepicker placeholder="Select date" value="{{data.date}}" name="date" required></datepicker>
                <input type="time" name="time" placeholder="--:--" value="{{data.time}}" required/>
                <input type="button" name="previous" class="previous action-button" value="Previous" v-on:click="previous()"/>
                <input type="button" name="next" class="next action-button" value="Next" v-on:click="next()"/>
            </fieldset>
        </div>
        <div class="new-activity" style="display: none">
            <h2 class="div-title">Create new activity</h2>
            <fieldset>
                <h2 class="fs-title">Activity Details</h2>
                <h4 class="fs-subtitle">Just some details</h4>
                <input type="number" name="needed" min="0" placeholder="Needed participants" value="{{data.needed}}">
                <tag-editor-input :data="tags"></tag-editor-input>
                <datalist id="datalist-tags">
                    {{#each tags}}
                        <option value={{this.description}}>
                    {{/each}}
                </datalist>
                <input type="hidden" name="tags" value='["{{data.tags}}"]' id="hiddenInput" />
                <input type="button" name="previous" class="previous action-button" value="Previous" v-on:click="previous()"/>
                <input type="submit" class="submit action-button" value="Submit" />
            </fieldset>
        </div>
    </form>
    </div>

    {{>app/sidebar}}

</div>
<script type="text/x-template" id="tag-input">
    <div class="tag-field js-tags" @click="clickEvent" v-on:keydown="keyCheck">
        {{#each data.tags}}
            <div class="tag js-tag" data-index="0">{{this}}<span class="tag-close js-tag-close" data-index="0">×</span></div>
        {{/each}}
        <input list="datalist-tags" type="text" class="js-tag-input" placeholder="Write tag & press enter..." autofocus/>
    </div>
</script>
<script type="text/x-template" id="place-input">
    <input type=text name="location" v-el:input :placeholder=placeholder :class="class">
</script>