<div id="map-canvas">
    <div class="activity-info">
        <h2 class="div-title">Activity</h2>
        <div class="content-profile-page">
            <div class="profile-user-page card">
                <div class="img-user-profile">
                    <a href="/mendr/api/profile/{{activityData.host_id}}">
                    <img class="avatar" alt="host image" src="{{ activityData.picture }}"/>
                        </a>
                </div>
                <div class="user-profile-data">
                    <h1>{{ activityData.title }}</h1>
                    <div class="locationData">
                        <a href="/mendr/api/profile/{{activityData.host_id}}">
                        <div><p>{{ activityData.host }}</p></div>
                        </a>
                    </div>
                </div>
                <div class="description-profile">
                    {{#each activityData.tags}}
                        <div class="tag js-tag" data-index="0">{{this}}</div>
                    {{/each}}
                </div>
                <div><i class="fa fa-map-marker" aria-hidden="true"></i><p class="activity-address">
                    {{ activityData.address }}</p></div>
                <ul class="data-user">
                    <li><a><strong>{{ activityData.date }}</strong><span>Date</span></a></li>
                    <li><a><strong>{{ activityData.time }}</strong><span>Time</span></a></li>
                    <li><a><strong>{{ activityData.participants }} / {{ activityData.needed }}</strong><span>Participants</span></a></li>
                </ul>
                <div class="locationData">
                    <span>Description:</span>
                    <div class="activity-description"><p>{{ activityData.description }}</p></div>
                </div>
                <div v-if="{{user.id}} === {{activityData.host_id}}">
                    <a href="/mendr/api/edit/{{activityData.id}}">
                        <input type="button" name="cancelEvent" class="join-button" value="Edit">
                    </a>
                    <form accept-charset="UTF-8" method="POST" action="?_method=DELETE" class="edit-buttons">
                        <input type="submit" name="cancelEvent" class="cancel-button" value="Cancel Event">
                    </form>
                </div>
                <div v-else>
                    {{#if activityData.participants_id}}
                        {{#each activityData.participants_id}}
                            <div v-if="{{this}} === {{../user.id}}">
                                <form accept-charset="UTF-8" method="POST" action="?_method=PUT">
                                    <input type="submit" name="cancel" class="cancel-button" value="Cancel">
                                </form>
                            </div>
                        {{/each}}
                        <div v-else>
                            <div v-if="{{../activityData.participants}} === {{../activityData.needed}}">
                                Full amount of participants
                            </div>
                            <div v-else>
                                <form accept-charset="UTF-8" method="POST" action="?_method=PUT">
                                    <input type="submit" name="join" class="join-button" value="Join">
                                </form>
                            </div>
                        </div>
                    {{else}}
                        <div v-if="{{activityData.participants}} === {{activityData.needed}}">
                            Full amount of participants
                        </div>
                        <div v-else>
                            <form accept-charset="UTF-8" method="POST" action="?_method=PUT">
                                <input type="submit" name="join" class="join-button" value="Join">
                            </form>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    {{>app/sidebar}}

</div>